.menu{
    width: 500px;
    margin: 20px auto;
}
.menu li{
    padding: 5px;
    border: 1px solid;
    margin-bottom: 0.5em;
}
.menu li:hover, .menu li.active{
    background: blue;
    color: white;
}